@use '@/shared/styles/variables.scss' as *;

.frame__labelInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;

    label {
        font-size: 24px;
    }
    input {
        display: flex;
        width: 238px;
        height: 40px;
        box-sizing: border-box;
        background-color: $Seccond-Main;
        border-radius: $Border-Radius;
        border: 1.2px solid $Seccond-Border;
        padding: 12px 8px;
        transition: all $Transition-Darution $Transition-Mode;
    }
    input:hover {
        border: 1.2px solid $Seccond-Hover;
    }
    input:focus {
        outline: none;
        border: 1.2px solid $Seccond-Active;
    }
}