@use '@/shared/styles/variables.scss' as *;

.table__search-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1.2px solid $Seccond-Border;
  border-radius: $Border-Radius;
  padding: 12px 8px;

  .table__title {
    display: flex;
    justify-content: center;
    font-size: clamp(32px, 2.22vw, 12px);
    transition: all $Transition-Darution $Transition-Mode;
  }
}
