@font-face {
    font-family: 'Literata';
    src: url('./fonts/Literata-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Literata';
    src: url('./fonts/Literata-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}