$BG-Main: #121111;
$BG-Dop: #24211f;
$Seccond-Main: #2e2b28;
$Seccond-Main-Text: #e0d5ca;
$Seccond-Dop-Text: #aba39b;
$Seccond-Hover: #332e2b;
$Seccond-Active: #38322e;
$Seccond-Border: #3d3936;
$Seccond-Disabled: #66615c;
$Seccond-Placeholder: #595550;
$Seccond-Red: #994d4d;
$Seccond-Green: #4d994d;
$accent-Main: #d97d21;
$Transition-Darution: 0.2s;
$Transition-Mode: ease;
$Border-Radius: 13px;
$Border-Width: 1.2px;
$Padding-X: 124px;
$Container-Width: 1192px;

@mixin Literata($Weight: 400) {
  font-family: Literata;
  font-weight: $Weight;
  font-style: normal;
}

@mixin input {
  background-color: $Seccond-Main;
  border-radius: $Border-Radius;
  border: 1.2px solid $Seccond-Border;
  padding-inline: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
}

@mixin list {
  background-color: $Seccond-Main;
  border-radius: $Border-Radius;
  border-width: $Border-Width;
  padding-left: 8px;
}
