@use '../shared/styles/main.scss';
@use '../shared/styles/variables.scss' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::selection {
    background-color: $accent-Main;
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    @include Literata;
    background-color: $BG-Main;
    color: $Seccond-Dop-Text;
}
h1,h2,h3 {
    @include Literata;
    color: $Seccond-Main-Text;
}
h4,h5,h6,a,p,span,label,input {
    @include Literata(500);
    color: $Seccond-Main-Text;
}
::placeholder {
    @include Literata(500);
    color: $Seccond-Placeholder;
    width: clamp(14px, 0.97vw, 8px);
}
input {
    border: none;
}
.hidden {
    display: none;
}
button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $BG-Dop;
    padding: 10px 10px;
    border-radius: 3px;
    border: none;
    transition: all $Transition-Darution $Transition-Mode;
}
button:hover {
    background-color: $accent-Main;
}
button:active {
    background: #F28B24;
    background: linear-gradient(180deg, rgba(242, 139, 36, 1) 0%, rgba(191, 110, 29, 1) 100%);   
}
