@use '@/shared/styles/variables.scss' as *;

.wrapper__item {
    display: flex;
    flex-direction: row;
    padding-left: 8px;
    align-items: center;
    justify-content: space-between;
    border: 1.2px solid $Seccond-Border;
    border-radius: 13px 3px 3px 13px;
    height: 45px;

    span {
        font-size: clamp(16px, 1.11vw, 12px);
    }

    .wrapper__item-frame {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
}